{% extends "bootstrap/base.html" %}  
{% import "bootstrap/wtf.html" as wtf %}   
{% block title %}Login Page{% endblock title %}  
{% block content %}
<div class="login_form">
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	<h2>Enter your account to start.</h2>
    {{ wtf.quick_form(form) }}
</div>    
{% endblock content%}
