
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Food Recommendation</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />   
	<link href="/static/css/templatemo-style.css" rel="stylesheet" />
	<link href="/static/css/home.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body onload="Test()"> 
	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/simple-house-01.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="/static/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Food Recommendation</h1>
								<h6 class="tm-site-description">食物選擇系統 選擇食物的好幫手！</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{{ url_for('home', user_id=user_id) }}" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="{{ url_for('favorite', user_id=user_id) }}" class="tm-nav-link">My Favorite</a></li>
								<li class="tm-nav-li"><a href="{{ url_for('helper', flag=0, user_id=user_id) }}" class="tm-nav-link">Helper</a></li>
								<li class="tm-nav-li"><a href="{{ url_for('base') }}" class="tm-nav-link">Logout</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Our System!</h2>
				<p class="col-12 text-center">常常不知道要吃什麼？覺得網路上的資料太複雜？想要有自己的最愛餐廳列表？</p>
				<p class="col-12 text-center">我們提供了以下服務：</p>
				<ul class="wrap">
					<li> 客製化的最愛店家列表 </li>
					<li> 幫助你選擇要吃什麼 </li>
					<li> 快速搜尋出想要的店家類型 </li>
				</ul>
			</header>
			
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			
			<div class="row search-area">
				<h2 class="col-12 text-center tm-section-title">Search</h2>
				
				<form method=post enctype=multipart/form-data>
					<div class="search-field">
						<input type="text"  name="search" class="search-box" placeholder="Keyword search">
						<button type="submit"><i class="fa fa-search"></i></button>
					</div>
				
					<div class="query-field">
						<table>
							<tr>
								<td>
									價格
									<select name="price_level" id="price_level" onchange="ChangePrice()">
										<option value="">--</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</td>

								<td>
									評價
									<select name="rating" id="rating" onchange="ChangeRating()">
										<option value="">--</option>
										<option value="1">1-2</option>
										<option value="2">2-3</option>
										<option value="3">3-4</option>
										<option value="4">4-5</option>
									</select>

								</td>
								
								<td>
									<input type="checkbox" name="is_open" id="is_open" onchange="ChangeIsOpen()">
									<label for="is_open">營業中</label>
								</td>
							</tr>
						</table>
					</div>
				</form>
				
			</div>
			

			<h1 class="col-12 text-center tm-section-title"></h1>
			<div class="row tm-gallery">
				<div class="tm-gallery-page">
					{% for item in restaurant %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<figcaption>
								<h4 class="tm-gallery-title">
									<a href="{{ url_for('restaurant', place_id=item.place_id, user_id=user_id) }}" style="text-decoration:none; color: #1A6692;">
										{{ item.name }}
									</a>
								</h4>
								<p class="tm-gallery-description">{{ item.address }}</p>
								<p class="tm-gallery-price">{{ item.rating }} 星</p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}
					
				</div> 
				
			</div>

		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Simple House 
            
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/parallax.min.js"></script>
	<script src="/static/js/home.js"></script>
</body>
</html>
