<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Selector</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body> 
  <div id="mainbox" class="mainbox">
    <div id="box" class="box">
      <div class="box1">
        <span class="span1"><b>Restaurant1</b></span>
        <span class="span2"><b>Restaurant2</b></span>
        <span class="span3"><b>Restaurant3</b></span>
        <span class="span4"><b>Restaurant4</b></span>
      </div>
      <div class="box2">
        <span class="span1"><b>Restaurant5</b></span>
        <span class="span2"><b>Restaurant6</b></span>
        <span class="span3"><b>Restaurant7</b></span>
        <span class="span4"><b>Restaurant8</b></span>
      </div>
    </div> 
    <button class="spin" onclick="rotateFunction()">SPIN</button>
  </div>
  <script src="static/js/script.js"></script>
  </body>
</html>